.block-b {
  background: #eee;
  &__wrap {
    padding: 5rem 0;
  }

  &__title {
    font-family: "UrbanSlavic";
    font-size: 4.7rem;
    line-height: 1;
    width: 50%;
    margin: 0 0 2rem;
  }

  &__subtitle {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 500;
    width: 50%;
    margin: 0 0 1rem;
  }

  &__date {
    font-family: "UrbanSlavic";
    font-size: 3rem;
    line-height: 1.3;
  }
}
