.block-org {
  position: relative;
  &__wrap {
    padding: 7rem 0 0;
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
  }

  &__title {
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  &__item {
    padding-top: calc(100% * (9 / 16));
    position: relative;
    border: 1px solid #eee;
    border-radius: 0.5rem;
    &:hover {
      img {
        filter: none;
        transform: translate(-50%, -50%) scale(1.05);
      }
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 60%;
      height: 60%;
      object-fit: contain;
      filter: grayscale(1);
      transition: 0.3s ease-in-out;
    }
  }
  @media (max-width: $phoneWidth) {
    &__wrap {
      padding: 5rem 0 0;
    }
    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }
    &__item {
      padding-top: 100%;
    }
  }
}
