@font-face {
    font-family: 'Cruinn';
    src: url('../fonts/Cruinn/Cruinn-Black.woff2') format('woff2'),
        url('../fonts/Cruinn/Cruinn-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cruinn';
    src: url('../fonts/Cruinn/Cruinn-Bold.woff2') format('woff2'),
        url('../fonts/Cruinn/Cruinn-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cruinn';
    src: url('../fonts/Cruinn/Cruinn-Medium.woff2') format('woff2'),
        url('../fonts/Cruinn/Cruinn-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cruinn';
    src: url('../fonts/Cruinn/Cruinn-Light.woff2') format('woff2'),
        url('../fonts/Cruinn/Cruinn-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cruinn';
    src: url('../fonts/Cruinn/Cruinn-Thin.woff2') format('woff2'),
        url('../fonts/Cruinn/Cruinn-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cruinn';
    src: url('../fonts/Cruinn/Cruinn.woff2') format('woff2'),
        url('../fonts/Cruinn/Cruinn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UrbanSlavic';
    src: url('../fonts/UrbanSlavic/UrbanSlavicRegular.woff2') format('woff2'),
        url('../fonts/UrbanSlavic/UrbanSlavicRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

